---

---
<section>
  <h1>404</h1>
  <h1>No pudimos encontrar el sitio que buscas</h1>
</section>
<style>
  body {
    background-color: #f5f1e6;
    color: #af4c0f;
  }
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    text-align: center;
  }
</style>