---

---

<section class="additional-info">
  <img class="additional-image" src="additional.avif" alt="">
  <span>Persona</span>
  <span>Etiqueta formal</span>
  <p>Tu presencia es lo más importante; pero si quieres hacernos un presente, puedes elegir alguna de estas opciones.</p>
  <span>Mesa de Regalos </span>
  <span>Liverpool Número de evento</span>
  <span>51726410</span>
  <span>Tarjeta BBVA</span>
  <span>Silvia Verónica Ruelas Olvera</span>
  <span>4152 3142 1550 8006</span>
  <p>Se solicita de manera respetuosa, este día quisiéramos compartirlo en un ambiente adulto</p>Se solicita de manera respetuosa, este día quisiéramos compartirlo en un ambiente adulto
  <span>Solo Adultos</span>
</section>

<style>
  .additional-info {
    background-color: #f3d5c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .additional-image {
      width: 400px;
      max-width: 100%;
      height: auto;
      border: 1px solid gray;
    }
  }
</style>