---

---

<section class="additional-info">
  <img class="additional-image" src="additional.avif" alt="">
  <div class="rules">
    <div class="icon-container">
      <img class="icon" src="ticket.svg" alt="Icon">
      <span class="stylish">1 Persona</span>
    </div>
    <div class="icon-container">
      <img class="icon" src="hanger.svg" alt="Icon">
      <span class="stylish">Etiqueta formal</span>
    </div>
  </div>
  <p class="presence ovo">Tu presencia es lo más importante; pero si quieres hacernos un presente, puedes elegir alguna de estas opciones.</p>
  <div class="gift">
    <div class="icon-container">
      <img class="icon" src="gift.svg" alt="Icon">
      <span class="abhaya">MESA DE REGALOS</span>
    </div>
    <span class="ovo">Liverpool Número de evento<br>51726410</span>
    <div class="gift">
      <div class="icon-container">
        <img class="icon" src="card.svg" alt="Icon">
        <span class="abhaya">TARJETA BBVA</span>
      </div>
    <span class="ovo">Silvia Verónica Ruelas Olvera<br>4152 3142 1550 8006</span>
  </div>
  <p class="ovo">Se solicita de manera respetuosa, este día quisiéramos compartirlo en un ambiente adulto</p>
  <div class="icon-container">
    <img class="icon" src="cocktail.svg" alt="Icon">
    <span class="abhaya">SOLO ADULTOS</span>
  </div>
</section>

<style>
  .additional-info {
    background-color: #f3d5c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 10px;

    .additional-image {
      width: 400px;
      max-width: 100%;
      border: 1px solid gray;
      aspect-ratio: 3 / 2;
    }

    .rules {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 18px;
      gap: 10px;
    }

    .icon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* justify-content: center; */
      gap: 10px;

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    .presence {
      font-size: 14px;
      text-align: center;
    }

    .gift {
      font-size: 14px;
      font-weight: bold;
    }
  }
</style>