---

---

<section class="cover">
  <div class="cover-letters">
    <span>J</span>
    <span>V</span>
  </div>
  <div class="cover-title">
    <span>JORGE</span>
    <span>&</span>
    <span>VERÓNICA</span>
  </div>
  <img class="corner-flowers-1" src="flor dorada-01.svg">
  <img class="corner-flowers-2" src="flores acuarelosas-04.svg">
  <img class="corner-flowers-3" src="flores doradas -02.svg">
  <img class="corner-flowers-4" src="flores acuarelosas-03.svg">
  <img class="aqua" src="flores acuarelosas-01.svg">
</section>

<style>
  .cover {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f5f1e6;
    color: #af4c0f;
    padding: 50px;
    box-sizing: border-box;

    @media (width < 790px) {
      min-height: 400px;
    }
    
    .cover-letters {
      height: 50vh;
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      font-size: 86px;

      span {
        padding: 0 10px;

        &:first-child {
          border-right: 1px solid #af4c0f;
        }
        &:last-child {
          align-self: center;
          padding-bottom: 100px;
        }
      }
    }

    .cover-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      font-size: 30px;
      padding-bottom: 30px;
    }

    .corner-flowers-1 {
      position: absolute;
      top: -38px;
      left: -32px;
      width: 220px;
      height: auto;
      z-index: 1;

      /* @media (width < 790px) {
        width: 100px;
      } */
    }

    .corner-flowers-2 {
      position: absolute;
      top: -130px;
      right: -50px;
      width: 220px;
      height: auto;
      z-index: 1;

      /* @media (width < 790px) {
        width: 100px;
      } */
    }

    .corner-flowers-3 {
      position: absolute;
      bottom: -28px;
      right: -50px;
      width: 230px;
      height: auto;
      z-index: 1;

      /* @media (width < 790px) {
        width: 100px;
      } */
    }

    .corner-flowers-4 {
      position: absolute;
      bottom: -110px;
      left: -70px;
      width: 230px;
      height: auto;
      z-index: 1;

      /* @media (width < 790px) {
        width: 100px;
      } */
    }

    .aqua {
      position: absolute;
      right: -270px;
      width: 500px;
      top: -38px;
    }
  }
</style>