---

---

<section class="cover">
  <div class="cover-letters">
    <span>J</span>
    <span>V</span>
  </div>
  <div class="cover-title">
    <span>JORGE</span>
    <span>&</span>
    <span>VERÓNICA</span>
  </div>
</section>

<style>
  .cover {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f5f1e6;
    color: #af4c0f;
    padding: 50px;
    box-sizing: border-box;
    
    .cover-letters {
      height: 50vh;
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      font-size: 86px;

      span {
        padding: 0 10px;

        &:first-child {
          border-right: 1px solid #af4c0f;
        }
        &:last-child {
          align-self: center;
          padding-bottom: 100px;
        }
      }
    }

    .cover-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      font-size: 30px;
      padding-bottom: 30px;
    }
  }
</style>