---

---

<section class="cover">
  <span class="cover-letter">J</span>
  <span class="cover-letter">V</span>
  <div class="cover-title">
    <span>JORGE</span>
    <span>&</span>
    <span>VERÓNICA</span>
  </div>
</section>

<style>
  .cover {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #f5f1e6;
    color: #af4c0f;
    padding: 100px 50px;

    .cover-letter {
      font-size: 86px;
    }

    .cover-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      font-size: 30px;
    }
  }
</style>