---

---

<section class="last">
  <p>“La vida no es la que uno vivió, sino la que uno recuerda y cómo la recuerda para contarla” Gabriel garcía márquez</p>

  <button class="confirm-button">Confirmar</button>
</section>

<style>
  .last {
    background-color: #f6f2e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .confirm-button {
      background-color: #f4d6c1;
      color: #af4c0f;
    }
  }
</style>