---

---

<section class="main-info">
  <p class="handwritten title">¡Nos casamos!</p>
  <p class="subtitle ovo">Nos encantaría compartir contigo este día tan especial</p>
  <img class="main-image" src="main.avif" alt="">
  <div class="col">
    <span class="year abhaya">2025</span>
    <div class="date abhaya">
      <span>SÁBADO</span>
      <span class="day">01</span>
      <span>NOVIEMBRE</span>
    </div>
  </div>
  <div class="row">
    <div class="icon-container">
      <img src="church.svg">
    </div>
    <a class="col gap location-link" href="https://maps.app.goo.gl/dCXDSwD66Kt7D9x47" target="_blank">
      <span class="abhaya church location-link">
        PARROQUIA<br>EL SEÑOR DE LA DIVINA MISERICORDIA
      </span>
      <span class="abhaya hour">20:30 Hrs</span>
      <div class="abhaya address">
        <span>
          Calle 41 Núm. 297 Col. San Ramón Norte, Mérida, Yuc.
        </span>
        <div class="location-container">
          <img src="location.svg" alt="">
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <div class="icon-container">
      <img src="cake.svg">
    </div>
    <a class="col gap location-link" href="https://maps.app.goo.gl/zPwcqy39GPQRhzMy7" target="_blank">
      <span class="abhaya church location-link" >HACIENDA "EL TRIUNFO"</span>
      <span class="abhaya hour">21:30 Hrs</span>
      <div class="abhaya address">
        <span>
          Periférico Norte Km 26.7, Mérida, Yuc.</>
        </span>
        <div class="location-container">
          <img src="location.svg" alt="">
        </div>
    </div>
  </a>
  <img class="flowers-1" src="flores rosas-02.svg">
  <img class="flowers-2" src="flores rosas-02.svg">
</section>

<style>
  .main-info {
    position: relative;
    overflow: hidden;
    background-color: #f6f2e7;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 50px;

    .title {
      position: absolute;
      left: 5%;
      top: 0px;
      margin: 0;
      font-size: 70px;
      
      @media (width < 790px) {
        top: 20px;
        font-size: 30px;
      }
    }

    .subtitle {
      padding: 0 20px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 200;
      font-size: 22px;
      
      @media (width < 790px) {
        font-size: 16px;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .gap {
      gap: 5px;
      letter-spacing: 2px;
      margin-top: 15px;

      &:hover {
        opacity: 0.7;
      }
    }

    .icon-container {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;

      img {
        position: absolute;
        width: 200%;
        height: 200%;
        top: -20px;
        left: -22px;
      }
    }

    .location-container {
      position: relative;
      width: 20px;
      height: 20px;
      overflow: hidden;

      img {
        position: absolute;
        width: 200%;
        height: 200%;
        top: -7px;
        left: -8px;
      }
    }

    .main-image {
      width: 500px;
      max-width: 90%;
      border: 1px solid gray;
      aspect-ratio: 3 / 2;
      z-index: 2;
    }

    .year {
      font-weight: bold;
      font-size: 46px;
      
      @media (width < 790px) {
        font-size: 26px;
      }
    }
    
    .date {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 3px;

      @media (width < 790px) {
        font-size: 18px;
      }

      span {
        min-width: 300px;

        @media (width < 790px) {
          min-width: 128px;
        }
      }

      span:nth-child(1) {
        padding-right: 20px;
        border-right: 1px solid gray;
        text-align: right;
        letter-spacing: 7px;

        @media (width < 790px) {
          padding-right: 10px;
        }
      }
      span:nth-child(3) {
        padding-left: 10px;
        border-left: 1px solid gray;
        text-align: left;
      }
      .day {
        font-size: 68px;
        min-width: unset;
        @media (width < 790px) {
          font-size: 36px;
        }
      }
    }

    .church {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      @media (width < 790px) {
        font-size: 12px;
      }
    }

    .hour {
      font-size: 28px;
      font-weight: bold;
      @media (width < 790px) {
        font-size: 14px;
      }
    }

    .address {
      font-size: 18px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      @media (width < 790px) {
        font-size: 9px;
      }
    }

    .location-link {
      text-decoration: none;
      color: inherit;
    }

    .flowers-1 {
      position: absolute;
      width: 167px;
      left: -91px;
      top: 93px;
      z-index: 1;
    }
    .flowers-2 {
      position: absolute;
      width: 167px;
      right: -91px;
      top: 93px;
      z-index: 1;
      transform: scaleX(-1);
    }
  }
</style>