---

---

<section class="main-info">
  <p class="handwritten title">¡Nos casamos!</p>
  <p class="subtitle ovo">Nos encantaría compartir contigo este día tan especial</p>
  <img class="main-image" src="main.avif" alt="">
  <div class="row">
    <span class="year abhaya">2025</span>
    <div class="date abhaya">
      <span>SÁBADO</span>
      <span class="day">01</span>
      <span>NOVIEMBRE</span>
    </div>
  </div>
  <div class="row gap">
    <a class="abhaya church location-link" href="https://maps.app.goo.gl/dCXDSwD66Kt7D9x47" target="_blank">
      PARROQUIA<br>EL SEÑOR DE LA DIVINA MISERICORDIA
    </a>
    <span class="abhaya hour">20:30 Hrs</span>
    <a class="abhaya address location-link" href="https://maps.app.goo.gl/dCXDSwD66Kt7D9x47" target="_blank">Calle 41 Núm. 297 Col. San Ramón Norte, Mérida, Yuc.</a>
  </div>
  <div class="row gap">
    <a class="abhaya church location-link" href="https://maps.app.goo.gl/zPwcqy39GPQRhzMy7" target="_blank">HACIENDA "EL TRIUNFO"</a>
    <span class="abhaya hour">21:30 Hrs</span>
    <a class="abhaya address location-link" href="https://maps.app.goo.gl/zPwcqy39GPQRhzMy7" target="_blank">Periférico Norte Km 26.7, Mérida, Yuc.</a>
  </div>
</section>

<style>
  .main-info {
    position: relative;
    background-color: #f6f2e7;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 50px;

    .title {
      position: absolute;
      left: 5%;
      top: 0px;
      margin: 0;
      font-size: 70px;
      
      @media (width < 790px) {
        top: 20px;
        font-size: 30px;
      }
    }

    .subtitle {
      padding: 0 20px;
      text-align: center;
      margin-bottom: 0;
      font-weight: 200;
      font-size: 22px;
      
      @media (width < 790px) {
        font-size: 16px;
      }
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .gap {
      gap: 10px;
      letter-spacing: 2px;
    }

    .main-image {
      width: 500px;
      max-width: 90%;
      border: 1px solid gray;
      aspect-ratio: 3 / 2;
    }

    .year {
      font-weight: bold;
      font-size: 46px;
      
      @media (width < 790px) {
        font-size: 26px;
      }
    }
    
    .date {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 3px;

      @media (width < 790px) {
        font-size: 18px;
      }

      span {
        min-width: 300px;

        @media (width < 790px) {
          min-width: 128px;
        }
      }

      span:nth-child(1) {
        padding-right: 20px;
        border-right: 1px solid gray;
        text-align: right;
        letter-spacing: 7px;

        @media (width < 790px) {
          padding-right: 10px;
        }
      }
      span:nth-child(3) {
        padding-left: 10px;
        border-left: 1px solid gray;
        text-align: left;
      }
      .day {
        font-size: 68px;
        min-width: unset;
        @media (width < 790px) {
          font-size: 36px;
        }
      }
    }

    .church {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      @media (width < 790px) {
        font-size: 12px;
      }
    }

    .hour {
      font-size: 28px;
      font-weight: bold;
      @media (width < 790px) {
        font-size: 14px;
      }
    }

    .address {
      font-size: 18px;
      text-align: center;
      @media (width < 790px) {
        font-size: 9px;
      }
    }

    .location-link {
      text-decoration: none;
      color: inherit;
    }
  }
</style>