---

---

<section class="main-info">
  <p class="handwritten">¡Nos casamos!</p>
  <p>Nos encantaría compartir contigo este día tan especial</p>
  <img class="main-image" src="main.avif" alt="">
  <span>2025</span>
  <span>SÁBADO | 01 | NOVIEMBRE</span>
  <span>PARROQUIA</span>
  <span>EL SEÑOR DE LA DIVINA MISERICORDIA</span>
  <span>20:30 Hrs</span>
  <span>Calle 41 Núm. 297 Col. San Ramón Norte, Mérida, Yuc.</span>
  <span>HACIENDA EL TRIUNFO</span>
  <span>21:30 Hrs</span>
  <span>Periférico Norte Km 26.7, Mérida, Yuc.</span>
</section>

<style>
  .main-info {
    position: relative;
    background-color: #f6f2e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .main-image {
      width: 400px;
      max-width: 80%;
      height: auto;
      border: 1px solid gray;
    }

    .handwritten {
      font-family: 'Licorice';
      font-size: 26px;
      position: absolute;
      left: 5%;
      top: 20px;
      margin: 0;
    }
  }
</style>