---

---

<section class="quote">
  <img class="quote-image" src="quote.avif" alt="Favicon">
  <p class="ovo">
    "Y para estar total completa, absolutamente enamorado, hay que tener plena conciencia de que uno también es querido, que uno también inspira amor"
  </p>
  <p class="ovo">
    Mario Benedetti
  </p>
</section>

<style>
  .quote {
    --content-size: 500px;
    background-color: #f4d6c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;

    .quote-image {
      width: var(--content-size);
      max-width: 80vw;
      aspect-ratio: 2 / 3;
    }

    p {
      font-size: 24px;
      max-width: var(--content-size);
      text-align: center;
      
      @media (width < 790px) {
        font-size: 12px;
      }
    }
  }
</style>