---

---

<section class="quote">
  <img class="quote-image" src="quote.avif" alt="Favicon">
  <p>
    "Y PARA ESTAR TOTAL COMPLETA, ABSOLUTAMENTE ENAMORADO, HAY QUE TENER PLENA CONCIENCIA DE QUE UNO TAMBIÉN ES QUERIDO, QUE UNO TAMBIÉN INSPIRA AMOR"
  </p>
  <p>
    MARIO BENEDETTI
  </p>
</section>

<style>
  .quote {
    background-color: #f4d6c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .quote-image {
      width: 800px;
      max-width: 100%;
      height: auto;
      /* border: 1px solid gray; */
    }

    p {
      font-size: 12px;
      text-align: center;
      font-family: 'Stylish', sans-serif;
      /* font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal; */
    }
  }
</style>