---

---

<section class="quote">
  <img class="quote-image" src="quote.avif" alt="Favicon">
  <p class="ovo">
    "Y para estar total completa, absolutamente enamorado, hay que tener plena conciencia de que uno también es querido, que uno también inspira amor"
  </p>
  <p class="ovo">
    Mario Benedetti
  </p>
</section>

<style>
  .quote {
    background-color: #f4d6c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .quote-image {
      width: 800px;
      max-width: 100%;
      aspect-ratio: 2 / 3;
    }

    p {
      font-size: 12px;
      text-align: center;
    }
  }
</style>