---
import '@fontsource/stylish';
import '@fontsource/licorice';
import '@fontsource/abhaya-libre';
import '@fontsource/ovo';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;400&display=swap" rel="stylesheet">
		<title>Jorge y Vero</title>
		<link rel="canonical" href="https://jorge-y-vero.vercel.app/" />
		<meta property="og:image" content='https://jorge-y-vero.vercel.app/last.avif' />
		<meta property="og:title" content='La boda de Jorge y Vero'/>
		<meta property="og:description" content='Invitación digital para la boda de Jorge y Vero'/>
		<meta property="og:url" content="https://jorge-y-vero.vercel.app/" />
		<meta property="og:site_name" content="Jorge y Vero" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Spectral', serif;
		font-weight: 300;
	}

	.handwritten {
		font-family: 'Licorice';
		font-size: 26px;
		letter-spacing: 3px;
	}
	.abhaya {
		font-family: 'Abhaya Libre', serif;
	}
	.stylish {
		font-family: 'Stylish', sans-serif;
	}
	.ovo {
		font-family: 'Ovo', serif;
	}
</style>
